:root {
  --variable-collection-black: rgba(19, 19, 19, 1);
  --variable-collection-dark-gray: rgba(69, 69, 69, 1);
  --variable-collection-dark-orange: rgba(115, 74, 0, 1);
  --variable-collection-dark-red: rgba(176, 18, 18, 1);
  --variable-collection-green: rgba(0, 128, 0, 1);
  --variable-collection-light-gray: rgba(241, 241, 241, 1);
  --variable-collection-light-green: rgba(37, 205, 37, 1);
  --variable-collection-light-orange: rgba(255, 247, 232, 1);
  --variable-collection-mid-gray: rgba(125, 125, 125, 1);
  --variable-collection-mid-orange: rgba(255, 205, 113, 1);
  --variable-collection-mid-red: rgba(255, 154, 154, 1);
  --variable-collection-off-white: rgba(246, 246, 243, 1);
  --variable-collection-orange: rgba(255, 165, 0, 1);
  --variable-collection-red: rgba(235, 80, 80, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
}
